#left-part{
    width: 25%;
    height: 100%;
    background: rgb(51, 51, 51);
    position: relative;
    display: table-cell;
}

/* 标题HuaisuiBlog样式 */
#masthead {
    font-family: Amatic SC;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    color: #000;
}

/* 导航栏 */
#site-navigation {
    border-top: 1px solid rgba(119, 119, 119, 0.8);
}

.nav-outside{
    border-bottom: 1px solid rgba(119, 119, 119, 0.8);
}

/* 每个nav的布局 */
.nav-layout {
    margin: 5px;
    text-align: center;
}

/* nav本体 */
.nav-item {
    display: inline-block;
}

#myInfo-layout {
    border-bottom: 1px solid rgba(119, 119, 119, 0.8);
}

#info-title {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Amatic SC;
    color: #777;
}

#myInfo {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: Amatic SC;
    color: ivory;
}

.info {
    margin-top: 5px;
}

.img-container {
    width: 50%;
    height: auto;
}
.img-layout {
    margin: 10px;
}
#myimg {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}